<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="topbar">
        <h2>Recruitment Portal</h2>
      </div>
    
      <div class="sidebar">
        <a href="/skills-group">Skills Group</a>
        <a href="/clustering">Clustering</a>
        <a href="/word-cloud">Word Cloud</a>
        <a href="/skills-frequency">Skills Frequency</a>
      </div>
      
      <div class="content">
        <pre>
            Cluster 1:
    [' Opportunity For Azure Devops Architect For Hyderabad Location'
     ' Looking For Trained Freshers in MS Dynamics CRM- Hyderabad'
     ' Hiring for Tech Pm/scrum Master for Hyderabad Location'
     'Excellent Opportunity For ” Linux Device Driver ” ,for Hyderabad and Ban'
     ' Hiring For Record To Report' ' Dot Net Developer' ' Dot net Developer'
     ' Informatica Faculty Job Requirement in Hyderabad'
     ' Senior .Net Developer For Leading IT Company in Gurgaon'
     ' Hiring a Valuation Associate (female Only)'
     ' Hiring ll Azure Devops and Management Lead ll Hyderabad'
     ' Hiring going on for .US Inbound Tech Support/ Sales'
     ' Asp.net with Angular JS & Html5 - Hyderabad'
     ' Opening For Dot Net Developer @ Baner, Pune'
     ' SENIOR SOFTWARE DEVELOPER (MVC .NET)'
     ' Hiring for Domestic/ International Processes.contact the HR Asap'
     ' Walk- in | Hdfc Life | We are Hiring Freshers:5th till 20th Aug@ Delhi'
     ' Bulk Hiring Travel Sales Consultants US /UK Shifts Call ASAP'
     ' Immediate Opening Asp.net MVC Developers For Mumbai (worli)'
     ' Hiring for Tech Sales_Inbound UK/ US Voice Process'
     'HR Recruiter (volume Hiring)'
     ' Hiring: Executive-business Developer(seller Acquisition) On Contract'
     ' Adeeba Group is Currently hiring for US Inbound Tech Process.'
     ' Senior .NET Developer'
     ' HCL Tech Hiring "physical Design Engineers" for VLSI R&D Division'
     ' Hiring for Manager Quality ( Voice and Chat)'
     ' Hiring For Oracle Apps DBA@ Hyderabad'
     ' Oracle Fusion Apps_manufacturing_any Location'
     ' Associate Vice President - Talent Acquisition - Campus Hiring Program'
     ' .NET Developer (asp.net, MVC, C#)'
     ' Hiring .Net Developers for Hyderabad Location'
     ' Hiring For Day Shift Non Voice Sal. Up To 24K'
     ' BCOM (hiring for Top4) Internal Audit /compliance Call Vikas'
     ' Tech caller hiring a huge number of Executives.']
    
    Cluster 2:
    [' Online Bidding Executive' ' Executive Assistant To Chairman'
     ' SEO Executive' ' QA Executive'
     ' Senior Executive- Contract Logistics- Bom WP-A' ' Sales Executive'
     ' Front Office Executive-Noida' ' Project Executive/coordinator'
     ' Senior Accounts Executive' ' Executive Medical Coder' ' PPC Executive'
     ' Huge Requirement for Customer Care Executive with Fixed Salary'
     ' Field Sales Executive' ' Operation Executive'
     ' Customer Support Executive' ' Admin Executive'
     ' Guest Relations Executive'
     ' Customer Service Executive (Adeeba Group) for Tech Support/ Sales'
     ' Walk-in Interviews For Sr.executive - Procurement on 5th July'
     ' Documentation Executive' ' Vancancy for Inbound Tech Sales Executive'
     ' Marketing Executive' ' Outbound Sales Executive'
     ' HR Recruitment Executive' ' Ecommerce Executive'
     ' Supply Chain - Import Export Executive'
     'Executive - Lab Instruments Maintenance'
     ' Accounts Executive For 1-2 Years Experience'
     ' Sr. Sales / Sales Executive' ' Executive' ' Inside Sales Executive'
     ' Customer Care Executive' ' Laundry Executive' ' Accounts executive'
     ' Social Media Executive' ' Pre Sales Executive' ' Support Executive'
     ' Reconciliation Executive']
    
    Cluster 3:
    [' JUNIOR BIG DATA ANALYST IN'
     ' Oracle DBA Consultant - Data Guard/rac Modules'
     ' Global HR Operations Analyst' ' Analyst - Business Intelligence'
     ' Associate Clinical Data Processor' ' SIEM Analyst'
     ' Applications Analyst OEE' ' Lead Business Systems Analyst'
     ' Associate Principal Analyst - Network Security Research'
     ' Urgent job Position For SAP MDG Functional Analyst- All Over India'
     ' Tcs Hiring For Support Analyst - Bigdata(apache Hadoop,aws Certified)'
     ' SE / SSE - DATA' ' Data Science Engineer' ' Senior Data Analyst'
     'Data Science Manager' ' Senior Business Analyst - Sql/python'
     ' Sr. Business Analyst' ' System Analyst'
     ' Business Analyst - Structured Finance'
     ' Back Office Executive|data Entry Operators|domestic BPO'
     ' Data Scientist - Sql/nosql']
        </pre>
      </div>
    
    
</body>
</html>